<nav class="navbar navbar-fixed-top navbar-inverse" ng-controller="topnav as vm">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">Hot Towel Angular</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="http://www.johnpapa.net/hottowel-angular" target="_blank">
                        Created by John Papa
                    </a>
                </li>
                <li>
                    <a href="http://www.breezejs.com" target="_blank">
                        <img src="../../Content/images/breezelogo.png" />
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="http://www.angularjs.org" target="_blank">
                        <img src="../../Content/images/AngularJS-small.png" />
                    </a>
                </li>
            </ul>
            <!--<ul class="nav navbar-nav" ng-if="security.user" style="display: block;">
                <li ng-class="{ active: vm.isActive('/scan')}"><a href="/scan">Scan</a></li>
            </ul>-->
            <ul class="nav navbar-nav navbar-right" ng-if="security.user" style="display: block;">
                <li ng-class="{ active: vm.isActive('/manage')}">
                    <a href="/manage" ng-if="security.user" class="btn gravatar image-button image-left" style="padding: 0px 10px;">
                        {{ security.user.fullName }}
                        <!--<img src="../../Content/images/me.jpg" />-->
                    </a>
                </li>
                <li>
                    <a ng-click="!security.user || security.logout()">Logout</a>
                </li>
            </ul>

            <ul ng-if="!security.user" class="nav navbar-nav navbar-right" style="display: block;">
                <li ng-class="{ active: vm.isActive('/join')}">
                    <a ng-href="/#/join">Register</a>
                </li>
                <li ng-class="{ active: vm.isActive('/login')}">
                    <a ng-href="/#/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>